        div
            li #{viruses[0].codename}
            li #{viruses[0].scientist}
        div
            li #{viruses[1].codename}
            li #{viruses[1].scientist}
        div
            li #{viruses[2].codename}
            li #{viruses[2].scientist}
        div
            li К протоколу /vaccines имеют доступ все сотрудники Центра по контролю заболеваний. Туда заносятся данные по разработкам соответствующих вакцин.
            li(style={color: 'red'}) Протокол /vaccines/desinfection используется в крайних случаях! Будьте осторожны, использование его при отсутствии в том необходимости может повредить имеющиеся вакцины.
                li Правила пользования протокола дезинфекции:
                    ol Используется в случаях заражения, загрязнения образцов вакцин или вирусов.
                    ol Производится вставка соответствующих угрозе данных. Например: часть генома, команда производящая очистку прототипа вакцины.